html {
	&.dark {
		body {
			color: var(--color-slate-300);
			*,
			::before,
			::after {
				border-color: theme(colors.white / 5%);
			}
		}
	}
	body {
		letter-spacing: var(--tracking-wide);
		font-size: var(--text-sm);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-family: var(--font-roboto);
		color: var(--color-slate-600);
		line-height: theme(lineHeight.5);
	}
}
